<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            height: 4000px;
        }
        img{
            vertical-align: top;
        }
        .box{
            border: 1px solid black;
            position: fixed;
            right: 100px;
            bottom: 100px;
        }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores vitae
      perferendis esse a, aperiam, ex quidem nisi explicabo minus architecto
      maxime odio voluptates nihil. Quis fugiat officia modi perspiciatis?
      Consequuntur minus laboriosam vitae animi. Quos consequuntur saepe, nisi
      incidunt consectetur natus repellendus sequi amet blanditiis, nihil
      tenetur quaerat ea accusamus itaque esse. Deleniti distinctio numquam
      dignissimos fugiat doloremque illo molestiae ipsam soluta, at excepturi
      laborum magnam! Rerum, repellendus deleniti doloremque dicta rem magni qui
      deserunt optio aliquid itaque non mollitia quod iste culpa fugiat ratione
      reprehenderit labore iure inventore blanditiis id enim odit. Quam
      distinctio explicabo pariatur iste fugiat? Id, aliquam laudantium facilis
      est magnam tempore repellendus neque corporis debitis odit alias fugiat
      laboriosam maxime soluta consequatur ab quae voluptatem officiis tempora
      veritatis ipsum odio! Quasi nihil at quis esse quod aspernatur nemo
      voluptate nobis impedit consequuntur ad, quaerat eos quidem rem velit,
      reprehenderit, explicabo accusantium cupiditate laborum nostrum vero iusto
      corrupti amet! Et dolorem minus sunt sit odit assumenda placeat magnam
      quas officiis libero iusto nobis architecto, ullam nisi. Repellendus
      possimus neque veniam deleniti alias soluta quae, reprehenderit maxime
      nulla libero nisi laborum suscipit explicabo aut enim facilis fuga
      voluptates nostrum nam nemo vero. Id provident fugiat ipsam hic sint
      blanditiis fuga quidem deserunt? Recusandae fugiat dolorem earum illo
      quasi aperiam odio placeat reprehenderit possimus obcaecati modi maxime
      architecto exercitationem veritatis dolorum sint cum, tenetur eaque eius
      suscipit. Laboriosam, voluptatum labore animi voluptates eligendi est quas
      quae? Doloribus exercitationem in amet est consectetur ullam mollitia
      ipsum dicta distinctio. Dignissimos quaerat enim voluptatem quo fugit
      voluptas iusto neque eius, odio reprehenderit, eos ab nostrum cumque iste
      fugiat, nemo error doloremque mollitia quia! Facilis ratione magnam et,
      molestias sit, corporis dolore sunt tempore voluptas laboriosam facere
      totam consectetur reprehenderit quasi hic omnis error fugit deleniti
      itaque, porro aliquid harum. Facilis nam eaque et, libero beatae quos a
      delectus ducimus. Quibusdam eaque eos, id repellendus cum sit! Quam quas,
      voluptates, error fugit natus consectetur id necessitatibus provident eius
      maxime corporis rem voluptatibus temporibus. Omnis cum exercitationem
      sequi eum deleniti saepe nobis molestias harum accusantium ipsum alias
      aspernatur ratione, laudantium quam unde modi a asperiores, error corrupti
      voluptate aliquam earum quas ex? Iste molestias eum voluptatum minus
      consequatur libero accusantium labore pariatur. Ipsum voluptatibus
      eligendi sunt similique dolor recusandae. Laudantium unde provident odio
      commodi enim mollitia incidunt veniam molestiae repudiandae animi,
      cupiditate voluptate reiciendis sint? Veniam omnis assumenda iure
      perspiciatis consequuntur voluptates, hic ducimus culpa suscipit vitae
      quaerat natus adipisci delectus! Nesciunt officiis omnis ipsa corporis
      aliquid sint voluptas sed consequuntur quae nisi? Repudiandae fugit nihil
      exercitationem at qui quisquam! Accusamus tempora natus explicabo quo
      reprehenderit aut beatae voluptas reiciendis voluptate aliquam, officia a
      impedit, ut distinctio blanditiis quis perferendis ratione facilis. Ut
      veritatis delectus veniam molestiae fuga sunt quisquam velit architecto
      provident est suscipit numquam mollitia autem id nihil placeat molestias
      pariatur labore, reprehenderit, assumenda excepturi illum. Nostrum
      praesentium nisi ad, cum quibusdam cupiditate enim earum fugit voluptatum
      quaerat, corporis, qui in dicta sapiente sunt? Consectetur, deleniti
      laborum ullam incidunt sapiente in.
    </p>
  </body>
</html>
